article {
    text-align: center;
    max-width: calc(560px - 4rem);
}

#trailer {
    max-width: 100%;
    padding-bottom: 2rem;
    margin: 0 auto;
    overflow: hidden;
}

#trailer iframe {
    display: block;
    margin: auto;
    width: 560px;
    height: 315px;
}

p {
    line-height: 1.375rem;
}

@media screen and (max-width: 560px) {
    #trailer iframe {
        width: 100vw;
        height: 56.25vw;
    }
}